.gameplay p {
  margin-bottom: 7rem;
}

.div {
  margin: 0 auto;
  padding: 2rem;
  width: 450px;
  height: 200px;
  background-color: #121111;
  border: 2px solid rgb(177, 32, 31);
}

.div2 {
  margin: 0 auto;
  padding: 2rem;
  width: 450px;
  background-color: #121111;
  border: 2px solid rgb(177, 32, 31);
}

.div p,
.div2 p {
  font-family: "Sharp Tech Mono", monospace;
  font-size: 2rem;

  margin: 0 auto 2rem;

  filter: blur(1px);

  color: rgb(177, 32, 31);
}

.div2 p {
  color: rgb(128, 140, 142);
}

#input01 {
  filter: blur(1px);
  width: 15rem;
  font-size: 5rem;
  font-family: "Sharp Tech Mono", monospace;

  text-align: center;

  margin-top: 1rem;

  color: rgb(14, 94, 14);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(177, 32, 31);
}

button {
  font-size: 2rem;
  font-family: "Sharp Tech Mono", monospace;
  margin: 3rem auto 1rem;
  filter: blur(1px);

  padding: 0.5rem 4rem;

  color: rgb(177, 32, 31);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(177, 32, 31);
}

button:hover {
  color: rgb(14, 94, 14);
  border: 2px solid rgb(14, 94, 14);
}

.button3 {
  width: 380px;
}

#lookAround {
  margin-top: 5rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputRight p {
  margin-top: 5rem;
  animation: load 900ms infinite 0s ease-in-out;
  filter: blur(1px);
}

#inputWrong p {
  margin-top: 3rem;
}

@keyframes load {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.isActive {
  display: block;
}

.notActive {
  display: none;
}
