* {
    box-sizing: border-box;
    font-size: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: rgb(104, 23, 23);
}

nav {
    width: 650px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    margin: 0 auto;
}

.nav-line {
    border-top: 3px solid #000000;
    margin-bottom: -15px;
}