* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(177, 32, 31);
}

a:hover {
  color: rgb(14, 94, 14);
}

html {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  background-color: #121111;
}

body {
  position: relative;
  width: 600px;
  height: 99vh;
  margin: 0 auto;
  border: 3px solid rgb(177, 32, 31);

  background-color: #161616;

  font-size: 1.5rem;
  text-align: center;
  color: rgb(128, 140, 142);
}

.gameplay {
  position: absolute;
  top: 5.5rem;
  bottom: 3.2rem;

  overflow-y: auto;

  padding: 1rem 3rem 3rem;
}

.gameplay p {
  font-weight: 300;
  line-height: 1.5;
  margin: 2rem 0;
}

.gameplay .idfile p {
  margin: 0;
}

footer {
  width: 600px;
  height: 3rem;

  position: fixed;
  bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #121111;

  font-size: 0.9rem;
  text-align: center;
  color: rgb(177, 32, 31);

  border-top: 3px solid rgb(177, 32, 31);
}
